.profile_chip {
    position: absolute;
    padding: 2px 8px;
    right: 0px;
    bottom: -20px;
    background-color: #635bff;
    color: white;
    font-size: 16px;
    z-index: 1;
    border-radius: 100%;
}